* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1920px) {
    .column {
        flex: 33.33%;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
    }
}

header {
    font-size: 50px;
    font-weight: bolder;
}

#wordLabel, #numberLabel, #submit {
    margin: 10px;
}

#wordBox {
    margin-bottom: 10px;
}